.post__container{
    width: 100%;
    
}

.post__info{
    width: 90%;
}

.user_post{
    width: 35rem;
    
}

ul {
    list-style: none;
    li{
        cursor: pointer;
    }
  }

  .new__post {
    width: 100%;
  }

.form__container{
    width: 80%;
    border: 1px solid #eee;
    background-color: #fff;
    textarea{
        width: 100%;
        border: none;
    }
    ul{
        width: 90%;
    }
}


.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}