.post__container{
    width: 100%;
    padding-left: 12vw;
}

.post__info{
    width: 90%;
}

.user_post{
    width: 35rem;
    
}

ul {
    list-style: none;
    li{
        cursor: pointer;
    }
  }
  